@model PokerAppMVC.Models.Result

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PN)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dt>Table</dt>
        <dd>
            <table class="table-bordered">
                @{List<string> rows = new List<string>() { "A", "K", "Q", "J", "T", "9", "8", "7", "6", "5", "4", "3", "2" };}
                @for (int row = 0; row < 13; row++)
                {
                    <tr>
                        
                        @for (int col = 0; col < 13; col++)
                        {                                
                            if (Model.TableValidated[row, col])
                            {
                                <td style="background-color:#73F55C" title="@Model.TableWeights[row,col].ToString()">@rows[row]@rows[col]</td>
                            }
                            else if (Model.TableWeights[row,col].IsNegative)
                            {
                                <td style="background-color:#B94A48" title="@Model.TableWeights[row,col].ToString()">@rows[row]@rows[col]</td>
                            }
                            else
                            {
                                <td style="background-color:#CCC" title="@Model.TableWeights[row,col].ToString()">@rows[row]@rows[col]</td>
                            }
                        }
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index", "Inputs")
</p>
